services:
  frontend:
    build: ./frontend
    ports:
      - "11451:11451"
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "8034:8034"
    env_file:
      - ./backend/.env

