services:
  frontend:
    build: ./frontend
    image: juzixiaoren/togemusic:frontend-v5 # 您的前端镜像名
    ports:
      - "11451:11451"
    depends_on:
      - backend

  backend:
    build: ./backend
    image: juzixiaoren/togemusic:backend-v5 # 您的后端镜像名
    ports:
      - "8034:8034"
    volumes:
      - ./data/db:/backend/dao/db
      - ./data/uploads:/backend/server/uploads
    environment:
      - CORS_ORIGINS=*
      - SOCKET_PATH=/socket.io
      - PYTHONUNBUFFERED=1