/* 自定义字体定义，禁用就屏蔽这两条 */

@font-face {
    font-family: 'MyFont';
    src: url('./fonts/MO-UDShinGoSCGb4-DeB_Compressed.woff2') format('woff2');
    font-weight: normal;
}
@font-face {
    font-family: 'MyFont';
    src: url('./fonts/MO-UDShinGoSCGb4-DeB_Compressed.woff2') format('woff2');
    font-weight: bold;
}
@font-face {
    font-family: 'MyFont2';
    src: url('./fonts/Novecentowide-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'MCFont';
    src: url(./fonts/5_Minecraft.ttf) format('truetype');
}


body {
    overflow-x: hidden;
}

.glass {
    background-image: radial-gradient(rgb(255, 254, 254), rgb(255, 255, 255));
    border-width: 2px 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px; 
    box-shadow: 0 4px 80px rgba(139, 139, 139, 0.2);
    backdrop-filter:  blur(20px) brightness(125%) contrast(120%);
}
.background {

    min-width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(90deg,rgba(255, 255, 255, 0.548),rgba(182, 181, 181, 0)),url('/src/assets/images/终末地视频帧.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.router-link {

    font-family:'MyFont';
    color: #1890ff;
    text-shadow: 0px 0px 10px rgb(202, 193, 193);
    font-weight: bold;
  }
  
 .router-link:hover {

    text-decoration: underline;
    color: #40a9ff; 
  }

  .html {
      overflow: hidden;
  }