/* 自定义字体定义，禁用就屏蔽这两条 */

@font-face {
    font-family: 'MyFont';
    src: url('./fonts/MO-UDShinGoSCGb4-Reg_Compressed.woff2') format('woff2');
    font-weight: normal;
}
@font-face {
    font-family: 'MyFont';
    src: url('./fonts/MO-UDShinGoSCGb4-DeB_Compressed.woff2') format('woff2');
    font-weight: bold;
}
@font-face {
    font-family: 'MyFont2';
    src: url('./fonts/Novecentowide-Bold.otf') format('opentype');
}


body {
    overflow-x: hidden;
}

.glass {
    background-image: radial-gradient(rgba(255, 255, 255, 0.149), rgba(152, 152, 152, 0.076));
    border-width: 2px 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px; 
    box-shadow: 0 4px 80px rgba(0, 0, 0, 0.5);
    backdrop-filter:  blur(20px) brightness(125%) contrast(120%);
}
.background {

    min-width: 100vw;
    min-height: 100vh;

    background-image: linear-gradient(90deg,rgba(0,0,0,0.7),rgba(0,0,0,0.1)),url('/src/assets/images/终末地视频帧.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.router-link {

    font-family:'MyFont';
    color: #1890ff;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    font-weight: bold;
  }
  
 .router-link:hover {

    text-decoration: underline;
    color: #40a9ff; 
  }

  .html {
      overflow: hidden;
  }