/* 公共输入框样式 */
.customInput {
box-sizing: border-box;
    width: 60%;
    height: 50px;
    border: 0;

    margin-left: 50px;
    margin-top: 50px;

    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    color: rgb(0, 0, 0);

    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .customInputPassword {
    box-sizing: border-box;
    width: 60%;
    height: 50px;
    border: 0;

    margin-left: 50px;
    margin-top: 10px;

    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    color: rgb(0, 0, 0);
    
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  /* 聚焦样式 */
  .customInput:hover,
  .customInputPassword:hover {
    border-color: #ffffff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }
  
  /* 错误提示样式 */
  .errorMessage {
    color: red;
    font-size: 12px;
    margin: auto;
  }